html {
  font-size: 0.6rem;
}

.option,
.parent {
  display: flex;
  align-items: center;

  padding: 0.3rem;
  background-color: rgb(240, 240, 240);
  background-clip: content-box;
}

.parent {
  flex-grow: 4;
}

.left {
  flex: 0;
  padding: 10px;
}

.button,
.right {
  justify-content: flex-end;
  padding-right: 10px;
}

.find-more {
  font-size: 0.8rem;
}
